<div class="row">
    <div class="small-12 columns text-center">
        <h1>Welcome to Hangman!</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 <%= current_game.present? && !current_game.finished? ? 'medium-6' : '' %> columns">
        <%= link_to new_game_path, :class => 'button expand' do %>
            <i class="fa fa-play"> New game</i>
        <% end %>
    </div>

    <% if current_game.present? && !current_game.finished? %>
        <div class="small-12 medium-6 columns">
            <%= link_to game_path, :class => 'button expand' do %>
                <i class="fa fa-refresh"> Continue game</i>
            <% end %>
        </div>
    <% end %>
</div>
